*{
    margin: 0;
    padding: 0;
}
/* body{
    
} */
h1{
    text-align: center;
}
.my_slider_container{
    width: 50vw;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    background-color: rgb(196, 195, 194);
    display: flex;
    align-items: center;
    justify-content: center;
}
.my_slider_inner{
    width: 99%;
    height: 99%;

    background-color: rgb(29, 29, 28);
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider_wrapper{
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
}
.slider_bottom{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.my_slider1{
    width: 100%;
    height: 70%;
    overflow: hidden;
    border-radius: 10px;
}

.my_slider2{
    width: 30%;
    height: 100%;
    overflow: hidden; 
}
p{
    font-family: "Times New Roman";
    color: cornsilk;
    font-size: 22px;
}
.paginator{
    width: 30%;
    height: 10%;
    display: flex;
    justify-content: end;
}
.bullet{
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-color: rgb(252, 41, 3);
    border-radius: 50%;
    transition: all .3s ease;
    cursor: pointer;
   
}

.bullet:hover{
    background-color: cornsilk;
    transform: scale(1.2);
}

input[name="rad"]{
    display: none;
}

.slides{
    width: 400%;
    height: 100%;
    display: flex;
}

.slide{
    transition: all .6s ease;
    width: 25%;
}
.slide1{
    
    transition: all .6s ease;
    width: 25%;
}
.slides1{
    width: 400%;
    height: 100%;
    display: flex; 
    align-items: center;
}
img{
    width: 100%;
    height: 100%;
}
#rad1:checked ~.my_slider1 .slides .s1{
    margin-left: 0;
}
#rad2:checked ~.my_slider1 .slides .s1{
    margin-left: -25%;
}
#rad3:checked ~.my_slider1 .slides .s1{
    margin-left: -50%;
}
#rad4:checked ~.my_slider1 .slides .s1{
    margin-left: -75%;
}

#rad1:checked ~ .slider_bottom .my_slider2 .slides1 .s2{
    margin-left: 0;
}
#rad2:checked ~.slider_bottom .my_slider2 .slides1 .s2{
    margin-left: -25%;
}
#rad3:checked ~.slider_bottom .my_slider2 .slides1 .s2{
    margin-left: -50%;
}
#rad4:checked ~.slider_bottom .my_slider2 .slides1 .s2{
    margin-left: -75%;
}

#rad1:checked ~ .slider_bottom .paginator label:nth-child(1){
    background:rgb(3, 245, 3);
}
#rad2:checked ~ .slider_bottom .paginator label:nth-child(2){
    background:rgb(3, 245, 3);
}
#rad3:checked ~ .slider_bottom .paginator label:nth-child(3){
    background:rgb(3, 245, 3);
}
#rad4:checked ~ .slider_bottom .paginator label:nth-child(4){
    background:rgb(3, 245, 3);
}

#rad1:checked ~ .slider_bottom .paginator label:nth-child(1):hover{
    background:cornsilk;   
}
label::before{
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding-left: 1px;
    position: relative;
    top: -7px;
    left: -8px;
    border-radius: 50%;
}


@media (max-width:1024px){
    .my_slider_container{
        max-width: 75vw;
        /* height: 75vh; */
    }
    p{
        font-size: 18px;
    }
}
@media (max-width:768px){
    .my_slider_container{
        max-width: 75vw;
        /* height: 75vh; */
    }
    .slider_bottom{
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction:column-reverse;
    }
    .my_slider2{
        width: 100%;
        height: 70%;
        overflow: hidden; 
    }
    .paginator{
        width: 32%;
        height: 23%;
        display: flex;
        justify-content: center;
    }
    p{
        font-size: 17px;
    }
}
@media (max-width:320px){
    h1{
        font-size: 20px;
    }
    .my_slider_container{
        max-width: 95vw;
        /* height: 95vh; */
    }
    .paginator{
        width: 61%;
        height: 23%;
        display: flex;
        justify-content: end;
    }
    p{
        font-size: 12px;
    }
}